################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################
*.slnx
*.sqlite
.vs/
*.log
obj/
bin/

