################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################
.venv/
.venv-1/
.vs/
bin/
obj/
*.slnx
*.sqlite
test_python.py